@import "../../scss/mixins/mini";
.Basket {
    &__container {
      @include flex-column-center;
        margin: 0 auto;
        padding-bottom: 20px;
        max-width: 850px;
    }
    &__wrapper {
        @include flex-column-start;
        padding-top: 120px;
    }
    &__heading {
        @include flex-v-center;
        justify-content: start;
        width: 100%;
        gap: 250px;
        a {
            @include flex-v-center;
            font-family: Montserrat;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 140%; 
            color: var(--text-light, #ADACAC);
            gap: 10px;
/* p small/regular */
        }
    }
    &__title {
        font-family: Jura;
        font-weight: 500;
        font-style: normal;
        font-size: 32px;
        line-height: 120%; /* 38.4px */
        text-transform: uppercase;
        color: var(--light-color);
/* H2 */
    }
    &__services {
        @include flex-v-center;
        padding-top: 40px;
        gap: 30px;
      
        
    }
    &__form {
    
        margin: 30px 0;
        border-radius: 15px;
        padding: 40px 40px;
        background-color: #232323;
        
        &-form {
            display: flex;
           
            align-items: end;
            gap: 30px;
        }
        &-label {
            @include flex-column-start;
            margin-top: 10px;
            border-radius: 5px;
            padding: 15px;
            width: 335px;
            height: 100px;
            background-color: #303030;
            span {
                font-family: Montserrat;
                font-weight: 500;
                font-style: normal;
                font-size: 12px;
                line-height: normal;
                color: var(--gray-color);
/* label */
            }
            input {
                border-bottom: 2px solid var( --gray-color);
                padding: 0;
                width: 300px;
                height: 40px;
            }
        }
        &-title {
            font-family: Jura;
            font-weight: 500;
            font-style: normal;
            font-size: 24px;
            line-height: normal;
            text-transform: uppercase;
            color: #FFF;
/* H3 */
        }
        &-info {
            font-family: Montserrat;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 140%; /* 19.6px */
            color: var(--text-light, #ADACAC);
/* p small/regular */
a {
    font-family: Montserrat;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 140%;
    color: var(--active-light, #ED0C0C);
/* p small/regular */
}
        }
        &-btn {
            border-radius: 27px;
            padding: 16px 34px;
            color:var(--light-color);
            background-color: var(--red-color);
        }
      
    }
}
.services__item {
    @include flex-v-center;
    gap: 20px;
    &-img {
        @include flex-all-center;
        border-radius: 15px;
        width: 80px;
        height: 80px;
        background-color: #232323;
        
    }
    &-text {
        @include  flex-h-center;
        flex-direction: column;
       
        gap: 10px;
      
        h4 {
            position: relative;
            margin: 0;
            font-family: Jura;
            font-weight: 500;
            font-style: normal;
            font-size: 18px;
            line-height: normal;
            color: var(--light-color);

            &::before {
                content: "";
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 50%;
                height: 1px;
                background-color: var(--red-color);

            }
        }
        span {
            font-family: Montserrat;
            font-weight: 500;
            font-style: normal;
            font-size: 14px;
            line-height: 140%; 
            color:  #ADACAC;

        }

    }
}