.Basket {
    &__container {
        max-width: 850px;
        margin: 0 auto;
        padding-top: 120px;
       display: flex;
       flex-direction: column;
       align-items: start;
    }
    &__heading {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 250px;
       width: 100%;
        a {
            display: flex;
            align-items: center;
            gap: 10px;
            color: var(--text-light, #ADACAC);
/* p small/regular */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; 
        }
    }
    &__title {
        color: var(--light-color);
/* H2 */
font-family: Jura;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 38.4px */
text-transform: uppercase;
    }
    &__cart {
        width: 850px;
        margin: 0 auto;
        &-footer {
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: end;
            width: 100%;
            height: 100px;
            background-color: var(--raisin-black);
            border-radius: 0 0 15px 15px;
            &--topay {
                color: var(--text-light, #ADACAC);
/* p / medium */
font-family: Montserrat;
font-size: 19px;
font-style: normal;
font-weight: 500;
line-height: normal;
            }
        }
        li:first-child {
            border-radius: 15px 15px 0 0 ;
        }
        &-price {
            display: flex;
            align-items: center;
            color:var(--light-color);
/* H3 */
font-family: Jura;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
        }
        &-value {
            margin-left: 10px;
        }
    }
    &__services {
        padding-top: 40px;
        display: flex;
        align-items: center;
        gap: 30px;
      
        
    }
    &__form {
        border-radius: 15px;
        background-color: #232323;
        &-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }
        &-label {
            padding: 15px;
            width: 335px;
            height: 100px;
            background-color: #303030;
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: start;
            span {
                color: var(--gray-color);
/* label */
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
            }
            input {
                padding: 0;
                height: 40px;
                width: 300px;
                border-bottom: 2px solid var( --gray-color);
            }
        }
    }
}
.services__item {
    display: flex;
    align-items: center;
    gap: 20px;
    &-img {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #232323;
        border-radius: 15px;
        
    }
    &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
      
        h4 {
            position: relative;
            margin: 0;
            color: var(--light-color);
            font-family: Jura;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            &::before {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 50%;
                height: 1px;
                background-color: var(--red-color);

            }
        }
        span {
            color:  #ADACAC;

            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 140%; 
        }

    }
}