.Pagination {
    display: flex;
    align-items: center;
    gap: 10px;
    li {
        border-radius: 100%;
        padding: 2px 7px;
        color: var(--light-color);
        cursor: pointer;
        &:hover {
            background-color: var(--red-color);
        }
        
    }
}
.Pagination li.active {
    background-color: var(--red-color);
}