@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.Pagination {
    @include flex-v-center;
    gap: 10px;
    li {
        border-radius: 100%;
        padding: 2px 7px;
        color: var(--light-color);
        cursor: pointer;
        &:hover {
            background-color: var(--red-color);
        }
        @include mobile {
            padding: 5px 10px;
        }
    }
    @include mobile {
        gap: 15px;
    }
}
.Pagination li.active {
    background-color: var(--red-color);
}