@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.Interesting {
    padding-top: 50px;
    padding-bottom: 50px;

    &__title {
        font-family: Jura;
        font-weight: 500;
        font-style: normal;
        font-size: 35px;
        line-height: normal;
        color: var(--light-color);
    }

    &__items {
        @include flex-v-center ;
        gap: 20px;
        @include mobile {
            flex-direction: column;
        }
    }
}