@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.SliderNavigation {
    position: absolute;
    right: 0;
    bottom: 58px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 0 22%;
    width: 100%;
    @include tablet {
        padding: 0 30px;
    }
    @include mobile {
        display: none;
    }
}

.slider-prev {
   @include flex-all-center;
    border: 1px solid var(--light-color);
    border-radius: 100%;
    width: 33px;
    height: 33px;
    text-align: center;

    svg {
        fill: var(--light-color);
    }

    &:hover {
        border: 1px solid var(--hover-color);

        svg {
            fill: var(--hover-color);
        }
    }
}

.slider-next {
    @include flex-all-center;
    border: 1px solid var(--light-color);
    border-radius: 100%;
    width: 33px;
    height: 33px;
    text-align: center;

    svg {
        fill: var(--light-color);
    }

    &:hover {
        border: 1px solid var(--hover-color);

        svg {
            fill: var(--hover-color);
        }
    }
}
