.SliderNavigation {
    position: absolute;
    right: 0;
    bottom: 58px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 0 440px;
    width: 100%;
}

.slider-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-color);
    border-radius: 100%;
    width: 33px;
    height: 33px;
    text-align: center;

    svg {
        fill: var(--light-color);
    }

    &:hover {
        border: 1px solid var(--hover-color);

        svg {
            fill: var(--hover-color);
        }
    }
}

.slider-next {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--light-color);
    border-radius: 100%;
    width: 33px;
    height: 33px;
    text-align: center;

    svg {
        fill: var(--light-color);
    }

    &:hover {
        border: 1px solid var(--hover-color);

        svg {
            fill: var(--hover-color);
        }
    }
}
