.SliderNavigation {
    position: absolute;
    width: 100%;
    padding: 0 440px;
    bottom: 58px;
    right: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
.slider-prev {
    border: 1px solid var(--light-color);
    border-radius: 100%;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
text-align: center;
svg {
    fill: var(--light-color);
}
&:hover {
    border: 1px solid var(--hover-color);
    svg {
        fill: var(--hover-color);
    }
}
}
.slider-next {
    border: 1px solid var(--light-color);
    border-radius: 100%;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    svg {
        fill: var(--light-color);
    }
    &:hover {
        border: 1px solid var(--hover-color);
        svg {
            fill: var(--hover-color);
        }
    }
}
