@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";

.ProductQuantity {
    @include bg-cover;
    height: 50vh;
    background-image: url("./slide.jpg");


    &__container {
        @include flex-h-center;
        flex-direction: column;
        align-items: start;
        height: 100%;
    }

    &__title {
        /* H2 */
        font-family: Jura;
        font-weight: 500;
        font-style: normal;
        font-size: 32px;
        line-height: 120%;
        /* 38.4px */
        text-transform: uppercase;
        color: var(--light-color);
    }

    &__descr {
        /* p / regular */
        font-family: Montserrat;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: normal;
        color: var(--light-color);
    }

    &__price {
        margin-left: 20px;
        font-family: Atomic Alice;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: normal;
        color: var(--light-color);
    }
    &__buy {
        margin-top: 20px;
    }

    @include mobile {
        &__btn {
            margin-top: 20px;
        }
    }
}