.button {
    
    padding: 15px 37px;
  
    border: 2px solid var(--red-color);
    color: var(--light-color);
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    line-height: 23px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
  overflow:hidden;

  
}
.primary {
    background-color:var(--red-color);
    color:#fff;
}
.secondary {
    background-color:transparent;
    color:var(--light-color);
    border: 2px solid var(--red-color);
    &:hover {
        color:var(--hover-color);
    }
}
// sizes
.small {
    padding: 10px 25px;
}
.medium {
    padding: 15px 37px;
}
.large {
    padding: 20px 55px;
   
}
// variants
.one {
    border-radius: 0px;
    &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background: #ff0000;
      }
    &:hover {
        &:after {
            width: 100%;
            left: 0;
          }
    }
}
.two {
    border-radius: 27px;
    
    &:hover {
        border-radius:0px;
    }
}