.button {
    position: relative;
    overflow: hidden;
    border: 2px solid var(--red-color);
    padding: 15px 37px;

    font-family: Montserrat;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;

    color: var(--light-color);
    transition: all 0.2s ease-in-out;
    cursor: pointer;


}

.primary {
    color: var(--light-color);
    background-color: var(--red-color);
}

.secondary {
    border: 2px solid var(--red-color);
    color: var(--light-color);
    background-color: transparent;

    &:hover {
        color: var(--hover-color);
    }
}

// sizes
.small {
    padding: 10px 25px;
}

.medium {
    padding: 15px 37px;
}

.large {
    padding: 20px 55px;

}

// variants
.one {
    border-radius: 0px;

    &:after {
        content: '';
        position: absolute;
        left: 50%;
        bottom: 0;
        width: 0;
        height: 3px;
        background: #ff0000;
        transition: .3s;
    }

    &:hover {
        &:after {
            left: 0;
            width: 100%;
        }
    }
}

.two {
    border-radius: 27px;

    &:hover {
        border-radius: 0px;
    }
}