.Categories {
    padding-bottom: 150px;

    &__goods {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 70px;
        padding-top: 80px;

        row-gap: 40px;
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;


    }

    &__top {
        padding-top: 100px;
    }

    &__listItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        svg {
            fill: var(--light-color);
        }

        &Title {
            font-family: Montserrat;
            font-weight: 500;
            font-style: normal;
            font-size: 17px;
            line-height: normal;
            color: var(--light-color);
            opacity: 0.3;
        }

        &:hover {
            svg {
                fill: var(--red-color);
            }

            .Categories__listItemTitle {
                color: var(--red-color);
            }
        }

        &.active {
            svg {
                fill: var(--red-color);
            }

            .Categories__listItemTitle {
                color: var(--red-color);
            }
        }




    }


}
