@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";

.Categories {
    padding-bottom: 150px;

    &__goods {
        display: grid;
        column-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 70px;
        padding-top: 80px;

        row-gap: 40px;
        
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mobile {
        justify-items: center;
            grid-template-columns: repeat(2, 1fr);
        padding-top: 20px;
        padding-bottom: 20px;
        }
        
        
    }

    &__bottom {
       @include flex-column-center;
    }

    &__list {
        @include flex-all-sb;
        @include mobile {
            flex-wrap: wrap;
            gap: 20px;
        }

    }

    &__top {
        padding-top: 100px;
    }

    &__listItem {
        @include flex-column-center;
        cursor: pointer;

        svg {
            width: 45px;
            height: 45px;
            fill: var(--light-color);
        }

        &Title {
            font-family: Montserrat;
            font-weight: 500;
            font-style: normal;
            font-size: 17px;
            line-height: normal;
            color: var(--light-color);
            opacity: 0.3;
            @include mobile {
                
                font-size: 14px;
            }
        }

        &:hover {
            svg {
                fill: var(--red-color);
            }

            .Categories__listItemTitle {
                color: var(--red-color);
            }
        }

        &.active {
            svg {
                fill: var(--red-color);
            }

            .Categories__listItemTitle {
                color: var(--red-color);
            }
        }

       @include mobile {
        width: 15%;
        text-align: center;
       }


    }


}
