
@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.AboutUs {
    &__top {
        @include flex-v-center;
        gap: 50px;

        &-text {
            width: 70%;
            @include mobile {
                width: 100%;
            }
        }
        @include mobile {
            flex-direction: column;
            gap: 20px;
        } 
    }

    &__title {
        font-family: Jura;
        font-weight: 500;
        font-style: normal;
        font-size: 35px;
        line-height: 42px;
        color: var(--light-color);
    }

    &__descr {
        font-family: Montserrat;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        line-height: 22px;
        color: var(--light-color);
    }

    &__img {
        border-radius: 14px;
        width: 300px;
        height: 289px;

        img {
            display: block;
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        @include mobile {
            width: 400px;
            height: 340px;
        }
    }

    &__bottom {
        display: flex;
        gap: 50px;

        @include mobile {
            flex-direction: column-reverse;
            align-items: center;
            gap: 20px;
        }
        &-text {
            width: 70%;
            @include mobile {
                width: 100%;
            }
        }

        &-img {
            border-radius: 14px;
            width: 300px;
            height: 359px;

            img {
                display: block;
                border-radius: 16px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            @include mobile {
                width: 400px;
                height: 340px;
            }
        }

        &-title {
            font-family: Jura;
            font-weight: 500;
            font-style: normal;
            font-size: 25px;
            line-height: 42px;
            color: var(--light-color);
        }

        &-text {
            font-family: Montserrat;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: 22px;
            color: var(--light-color);
        }
    }
}