@import "../../scss/mixins/breakpoint";

.HeaderSearch {
    position: absolute;
    right: 0;
    top: 50px;
    z-index: 1000;
    overflow-y: scroll;
    border-radius: 15px;
    width: 600px;
    max-height: 300px;
    background-color: var(--charleston-color);

    &::-webkit-scrollbar {
        border-radius: 15px;
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        border-radius: 0 15px 15px 0;
        background-color: var(--charleston-color);
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 20px;
        background-color: rgb(255, 0, 0);
    }

    &__input {
        display: block;
        border-bottom: 1px solid #000;
        width: 100%;
        height: 50px;

        input {
            outline: none;
            padding: 0 10px;
            width: 100%;
            height: 100%;
            color: var(--light-color);
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        height: 100%;

    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-around;

        &_img {
            width: 70px;
            height: 70px;

            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_info {
            width: 30%;
            text-align: left;
            text-overflow: ellipsis;
        }

        &_title {
            margin: 0;
            padding: 0;
            color: var(--light-color);
        }

        &_price {
            color: var(--light-color);
        }

        &_link {
            color: var(--light-color);
        }

    }

    @include mobile {
        max-width: 95%;
    }
}