.MapNav {
    display: flex;
    align-items: center;
    padding-top: 30px;
    gap: 30px;

    &__search {
        display: flex;
        align-items: center;
        border: 1px solid var(--gray-2, #4F4F4F);
        border-radius: 20px;

        width: 642px;
        height: 50px;

        input {
            outline: none;
            border-radius: 20px 0 0 20px;
            padding: 0 10px;
            width: 95%;
            height: 100%;
            color: var(--light-color);
        }

        &_btn {
            border-radius: 0 20px 20px 0;
            width: 5%;
            height: 100%;

            &:hover {
                background-color: var(--red-color);
            }
        }
    }

    &__categories {
        display: flex;
        align-items: center;
        gap: 10px;

        &_item {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 3px solid #4F4F4F;
            border-radius: 100%;
            width: 50px;
            height: 50px;
            background-color: #333;
            cursor: pointer;

            &:hover {
                border-color: var(--red-color);
            }
        }
    }
}