@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";

.Catalog {
    &__container {
        @include flex-column-center;
        margin: 0 auto;
        padding: 80px 0;
        width: 1290px;
        @include middle-desktop {
           width: 100%;
        }
        @include tablet {
            width: 100%;

        }
    }

    &__left {
        padding-top: 40px;

        @include mobile {
            width: 100%;
        }
    }

    &__wrapper {
        display: flex;
        align-items: start;
        margin-bottom: 40px;
        gap: 90px;
        @include middle-desktop {
            flex-direction: column;
        }
        @include tablet {
            flex-direction: column;
        }
    }

    &__goods {
        display: grid;
        column-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        padding-top: 40px;
        row-gap: 50px;

        @include mobile {
            column-gap: 10px;
            grid-template-columns: repeat(2, 1fr);
            padding-top: 0;
            padding-bottom: 30px;
        }

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__title {
        font-family: Jura;
        font-weight: 500;
        font-style: normal;
        font-size: 32px;
        line-height: 120%;
        /* 38.4px */
        text-transform: uppercase;
        color: var(--light-color);
        /* H2 */
    }

    &__mobile-filters {
        display: none;
        padding-top: 30px;
        color: #fff;
        gap: 10px;

        input {
            width: 20px;
            height: 20px;
        }

        li {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        @include tablet {
            display: flex;
        }
    }
}