@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.Card {
    grid-column: 1 span;
    width: 286px;
    height: 475px;
    cursor: pointer;
    &__top {
        display: flex;
        flex-direction: column;
        align-items: end;
        border-radius: 14px;
        padding: 28px;
        width: 100%;
        height: 412px;
        background-color: var(--charleston-color);
        gap: 50px;
        @include mobile {
            
            height: 300px;
            gap: 20px;
        }
    }

    &__title {
        font-family: Montserrat;
        font-weight: 500;
        font-style: normal;
        font-size: 14px;
        line-height: 28px;
        color: var(--light-color);

    }

    &__price {
        color: var(--light-color);
        opacity: 0.3;
    }

    &__info {
        display: flex;
        gap: 28px;
    }

    &__new {
        color: var(--red-color);
    }

    &__basketIcon {
        position: absolute;
        overflow: hidden;
        margin: -1px;
        border: 0;
        padding: 0;
        width: 1px;
        height: 1px;
        clip: rect(0 0 0 0);
        @include mobile {
            position: initial;
            overflow: visible;
            margin: 0;
            padding: auto;
            width: auto;
            height: auto;
            clip: auto;
        }

    }

    &__icons {
        @include flex-all-center;
        height: 37px;
        max-width: 72px;
        transition: all 0.3s ease-in-out;
        // gap: 100px;
        gap: 10px;

        svg {
            fill: var(--light-color);
            cursor: pointer;

        }
        @include mobile {
            max-width: none;
            width: 100%;
            justify-content: space-between;
        }
    }

    &__plusIcon {
        stroke: var(--light-color);


    }

    &:hover {
        .Card__plusIcon {
            border-radius: 100%;
            background-color: var(--red-color);

        }
       
    }
    
   @include mobile {
     margin-bottom: 170px;
     width: 210px;
     height: 200px;
    &:hover {
        .Card__plusIcon {
            border-radius: unset;
            background-color: transparent;
    
        }
    }
   }
}

.Card__icons:hover .Card__basketIcon {
    position: initial;
    overflow: initial;
    margin: 0;
    border: inherit;
    padding: 0;
    width: auto;
    height: auto;
    clip: inherit;
}

.Card__icons {
    &:hover {
        border-radius: 20px;
    padding: 0 10px;

    background-color: var(--red-color);
    @include mobile {
        border-radius: unset;
        background-color: transparent;
        padding: 0;
    }
    }
    
}