.Map {
     &__wrapper {
        padding-top: 50px;
     }
    
    &__header {
        text-align: center;
        h1 {
            color:var(--light-color);
font-family: Jura;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 38.4px */
text-transform: uppercase;
        }
    }
    &__body {

    }
}