.Home {
    height: 60vh;
    width: 100%;
    background-image: url("./HomeBg.jpg");
    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        height: 100%;
    }
    &__title {
        color:var(--light-color);

font-family: Jura;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 38.4px */
text-transform: uppercase;
    }
    &__subtitle {
        color: var(--light-color);
/* p / regular */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
    }
}