@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.quantity {
    @include flex-all-center;
    width: 100%;
    height: 500px;
    /* background-color: var(--black-color); */

    &__slide {
        @include flex-column-start;
        @include bg-cover;
        justify-content: center;
        padding: 0 450px;
        height: 590px;
        text-align: left;
        background-image: url("./slide.jpg");
        &_text {
            width: 500px;
        }
    }

    &__title {
        font-family: Jura;
        font-weight: 400;
        font-style: normal;
        font-size: 41px;
        line-height: 48px;
        color: var(--light-color);
    }

    &__descr {
        font-family: Montserrat;
        font-weight: 400;
        font-style: normal;
        font-size: 19px;
        line-height: 23px;
        color: var(--light-color);
    }

    &__slider {
        position: relative;
        width: 100%;
    }

    &__btn {
        margin-top: 30px;
    }
}

.slider-prev {
    border: 1px solid var(--light-color);
}

.slider-next {
    border: 1px solid var(--light-color);
}
