.quantity {
    height: 500px;
    width: 100%;
    // background-color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: center;

    &__slide {
        height: 590px;
        padding: 0 450px;
        display: flex;
        flex-direction: column;

        text-align: left;
        align-items: start;
        justify-content: center;
        background-image: url("./slide.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        &_text {
            width: 500px;
        }
    }

    &__title {
        color: var(--light-color);
        font-size: 41px;
        font-family: Jura;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
    }

    &__descr {
        color: var(--light-color);
        font-size: 19px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
    }

    &__slider {
        position: relative;
    }
}

.slider-prev {
    border: 1px solid var(--light-color);
}

.slider-next {
    border: 1px solid var(--light-color);
}
