@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";

.header {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 71px;
    background-color: rgba(#212121, 0.8);

    &__sidebarBtn {

        svg {
            stroke: var(--light-color);

            &:hover {
                stroke: var(--hover-color);
            }
        }

    }

    &__positionBtn {
        svg {
            stroke: var(--light-color);

            &:hover {
                stroke: var(--hover-color);
            }
        }

        @include mobile {
            display: none;
        }
    }

    &__basket {
        position: relative;

        svg {
            fill: var(--light-color);

            &:hover {
                fill: var(--hover-color);
            }
        }
    }

    &__basketCount {
        @include flex-all-center;
        position: absolute;
        right: -9px;
        top: -9px;
        z-index: 10;
        border-radius: 100%;
        width: 17px;
        height: 17px;
        color: var(--light-color);
        background-color: var(--red-color);
    }

    &__mail {
        svg {
            stroke: var(--light-color);

            &:hover {
                stroke: var(--hover-color);
            }
        }

        @include mobile {
            display: none;
        }
    }

    &__search {
        svg {
            stroke: var(--light-color);

            &:hover {
                stroke: var(--hover-color);
            }
        }
    }

    &__container {
        @include flex-all-sb;
        position: relative;
        justify-content: space-between;
        height: 100%;
    }

    &__column {
        @include flex-v-center;
        gap: 25px;
    }

    &__phone {
        font-family: Montserrat;
        font-weight: 500;
        font-style: normal;
        font-size: 20px;
        line-height: normal;
        text-transform: uppercase;
        color: var(--light-color);

        &:hover {
            color: var(--hover-color);
        }

        @include small-tablet {
            display: none;
        }
    }

    @include small-tablet {
        border-style: solid;
        border-width: 5px;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-image-source: linear-gradient(to left, rgba(255, 0, 0, 0.54), rgba(0, 0, 0, 0.00));
        border-image-slice: 1;
        background-color: #000;
    }
}
