@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";

.ProductInfo {

    &__list {
        @include flex-column-center;

        padding: 40px 0;
        gap: 40px;

    }
}

.product__item {
    @include flex-v-center;
    gap: 110px;

    &_img {
        order: 0;
        border-radius: 18px;
        width: 400px;
        height: 405px;

        img {
            border-radius: 18px;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
      @include mobile {
        width: 350px;
      }

    }

    &_descr {
        /* width: 300px; */
        @include flex-column-start;
        gap: 15px;
    }

    &_text {
        @include flex-h-center;
        align-items: start;
        order: 1;
        width: 400px;

     @include mobile {
        width:350px;
     }
    }

    &_title {
        /* H3 */
        font-family: Jura;
        font-weight: 500;
        font-style: normal;
        font-size: 24px;

        text-transform: uppercase;
        color: var(--light-color);
    }

    &_subtitle {
        /* p / regular */
        font-family: Montserrat;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        color: var(--light-color);

    }

    &:nth-child(2n) {
        .product__item_img {
            order: 1;

            @include mobile {
                order: 0;
            }
        }

        .product__item_text {

            order: 0;

            @include mobile {
                order: 1;
            }
        }
    }

    @include mobile {
        flex-direction: column;
        gap: 0px;
    }
    @include middle-tablet {
        flex-direction: column;
    }
}