.Footer {
    height: 462px;
    width: 100%;
    &__top {
        display: block;
        width: 100%;
        height: 376px;
        padding-top: 40px;
        background-color: var(--charleston-color);
        &-container {
            display: flex;
            gap: 70px;
        }
    }
    &__bottom {
        width: 100%;
        height: 85px;
        &-container {
            height: 100%;
            display: flex;
        align-items: center;
        justify-content: space-between;
        } 
        span {
            color: var(--light-color);
font-family: Montserrat;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 21px;
opacity: 0.5;
        }
        
    }
    &__column {
        width: 33%;
        &--first {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 10px;
        }
        &--second {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 30px;
        }
        &--third {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 15px;
            h4 {
                margin: 0;
                color: var(--light-color);
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 28px;
            }
            span {
                color: var(--light-color);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
opacity: 0.5;
            }
            address {
                color: var(--light-color);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 19px;
opacity: 0.5;
            }
        }
    }
    &__logo {
        display: flex;
        gap:15px;
        span {
            color: var(--light-color);
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 600;
line-height: 17px;
        }
    }
    &__descr {
        color: var(--light-color);
font-family: Montserrat;
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 20px;
    }
    &__row {
        display: flex;
        flex-direction: column;
        align-items: start;
        ul {
            display: flex;
            align-items: center;
            gap: 20px;
        }
        h4 {
            margin: 0;
            color: var(--light-color);
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 28px;
        }
        li {
            color: var(--light-color);
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
opacity: 0.5;
line-height: 24px;
        }
    }
    &__social {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 10px;
        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 15px;
        }
        span {
            color: var(--light-color);
font-family: Montserrat;
font-size: 17px;
font-style: normal;
font-weight: 600;
line-height: 28px;
        }
    }
    &__link {
        &-phone {
            color: var(--light-color);
font-family: Montserrat;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 28px;
        }
        &-email {
            color: var(--light-color);
            font-family: Montserrat;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
        }
    }
}