@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.Footer {
    width: 100%;
    min-height: 462px;

    &__top {
        display: block;
        padding-top: 40px;
        width: 100%;
        min-height: 376px;
        background-color: var(--charleston-color);

        &-container {
            display: flex;
            gap: 70px;
            @include tablet {
                flex-direction: column;
                padding-bottom: 30px;
                gap: 20px;
            }
            
        }
    }

    &__bottom {
        width: 100%;
        height: 85px;

        &-container {
            @include flex-all-sb;
            height: 100%;
            @include mobile {
                flex-direction: column;
                padding: 10px 10px;
            }
        }

        span {
            font-family: Montserrat;
            font-weight: 400;
            font-style: normal;
            font-size: 12px;
            line-height: 21px;
            color: var(--light-color);
            opacity: 0.5;
        }
       @include mobile {
        min-height: 85px;
       }
    }

    &__column {
        width: 33%;

        &--first {
           @include flex-column-start;
            gap: 10px;
        }

        &--second {
            @include flex-column-start;
            gap: 30px;
        }

        &--third {
            @include flex-column-start;
            gap: 15px;

            h4 {
                margin: 0;
                font-family: Montserrat;
                font-weight: 600;
                font-style: normal;
                font-size: 17px;
                line-height: 28px;
                color: var(--light-color);
            }

            span {
                font-family: Montserrat;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                line-height: 19px;
                color: var(--light-color);
                opacity: 0.5;
            }

            address {
                font-family: Montserrat;
                font-weight: 400;
                font-style: normal;
                font-size: 14px;
                line-height: 19px;
                color: var(--light-color);
                opacity: 0.5;
            }
        }
        @include tablet {
            width: 100%;
        }
    }

    &__logo {

        display: flex;
        gap: 15px;

        span {
            font-family: Montserrat;
            font-weight: 600;
            font-style: normal;
            font-size: 13px;
            line-height: 17px;
            color: var(--light-color);
        }
       &-img {
        width: 194px;
        height: 47px;
       }
      
        @include tablet {
            flex-direction: column;
            gap: 5px;
        }
    }

    &__descr {
        font-family: Montserrat;
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        line-height: 20px;
        color: var(--light-color);
    }

    &__row {
        @include flex-column-start;
        flex-wrap: wrap;
        

        ul {
            @include flex-v-center;
            flex-wrap: wrap;
            gap: 20px;
        }

        h4 {
            margin: 0;
            font-family: Montserrat;
            font-weight: 600;
            font-style: normal;
            font-size: 17px;
            line-height: 28px;
            color: var(--light-color);
        }

        li {
            cursor: pointer;

            a {
                font-family: Montserrat;
                font-weight: 500;
                font-style: normal;
                font-size: 14px;
                line-height: 24px;
                color: var(--light-color);
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }

        }
    }

    &__social {
        @include flex-v-center;
        justify-content: start;
        gap: 10px;

        ul {
            @include flex-v-center;
            flex-wrap: wrap;
            
            gap: 15px;
        }

        span {
            font-family: Montserrat;
            font-weight: 600;
            font-style: normal;
            font-size: 17px;
            line-height: 28px;
            color: var(--light-color);
        }

        li {
            cursor: pointer;
        }

        svg {
            fill: var(--light-color);

            &:hover {
                fill: var(--hover-color);
            }
        }
    }

    &__link {
        &-phone {
            font-family: Montserrat;
            font-weight: 600;
            font-style: normal;
            font-size: 20px;
            line-height: 28px;
            color: var(--light-color);

            &:hover {
                color: var(--hover-color);
            }
        }

        &-email {
            font-family: Montserrat;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 19px;
            color: var(--light-color);

            &:hover {
                color: var(--hover-color);
            }
        }
    }
}