.BasketItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4F4F4F;
    padding: 15px;
    width: 100%;
    background-color: #303030;

    &__title {
        color: var(--light-color);
    }

    &__left {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    &__img {
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__price {
        display: flex;
        align-items: center;
        gap: 5px;

        span {
            color: var(--light-color);
        }
    }

    &__count {
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--light-color);
        color: var(--light-color);
        gap: 10px;

        &_plus {
            transform: rotate(180deg);
        }
    }

    &__btns {
        button {
            display: block;

        }

    }
}