@import "../../scss/mixins/mini";
@import "../../scss/mixins/breakpoint";
.BasketItem {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4F4F4F;
    padding: 15px;
    width: 100%;
    background-color: #303030;
    &__title {
        color: var(--light-color);
        @include mobile {
            font-size: 14px;
        }
    }

    &__left {
       @include flex-v-center;
        gap: 20px;
        @include mobile {
            flex-direction: column;
        }
    }

    &__img {
        width: 100px;
        height: 100px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__right {
        @include flex-v-center;
        gap: 15px;
        @include mobile {
            flex-direction: column;
            justify-content: end;
            padding-bottom: 20px;
        }
    }

    &__price {
        @include flex-v-center;
        gap: 5px;

        span {
            color: var(--light-color);
        }
    }

    &__count {
        @include flex-v-center;
        border-bottom: 1px solid var(--light-color);
        color: var(--light-color);
        gap: 10px;

        &_plus {
            transform: rotate(180deg);
            @include mobile {
                width: 20px;
                height: 20px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &_minus {
            @include mobile {
                margin-top: 5px;
                width: 20px;
                height: 20px;
                svg {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        @include mobile {
            gap: 15px;
        }
    }

    &__btns {
        button {
            display: block;

        }

    }
    &__remove {
        @include mobile {
            position: absolute;
            right: 2%;
            top: 5%;
            width: 25px;
            height: 25px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
        
    }

    @include mobile {
        position: relative;
    }
}