@import "../../scss/mixins/mini";
.collection {
    @include bg-cover;
    display: flex;
    align-items: end;
    justify-content: center;
    grid-column: 2 span;
    width: 590px;
    height: 480px;
    background-image: url("../../../public/img/collection/bg.png");
    &__title {
        font-family: Montserrat;
        font-weight: 600;
        font-style: normal;
        font-size: 17px;
        line-height: 28px;
        color: var(--light-color);
    }

    &__info {
       @include flex-v-center;
        gap: 90px;

        svg {
            fill: var(--light-color);
            cursor: pointer;

            &:hover {
                fill: var(--hover-color);

            }
        }
    }
}