@import "../../scss/mixins/mini";
.Specifications {
    height: 80vh;
    background-color: var(--charleston-color);

    &__container {
       @include flex-v-center;
        height: 100%;
        gap: 200px;

    }

    &__img {
        border-radius: 15px;
        width: 370px;
        height: 600px;

        img {
            display: block;
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        color: var(--light-color);

        h3 {
            font-family: Jura;
            font-weight: 500;
            font-style: normal;
            font-size: 34px;
            line-height: normal;
            color: var(--light-color);
        }

        &_item {
            @include flex-v-center;
            border-bottom: 1px solid var(--hover-color);
            padding: 5px 0;
            gap: 200px;
        }
    }

    &__more_btn {

        @include flex-v-center;
        margin-top: 10px;
        text-transform: uppercase;
        color: var(--hover-color);
        gap: 20px;
    }
}