.Accordion {
    display: block;
 
    padding-bottom: 10px;
    width: 300px;
    border-bottom: 1px solid #4F4F4F;
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        cursor: pointer;
        span {
            color: var(--text-light, #ADACAC);
/* p / regular */
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
        }
        
    }
    &__item {
        a {
            color: var(--text-light, #ADACAC);
/* p small/regular */
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 140%; /* 19.6px */
&:hover {
    color:var(--light-color);
}
        }
    }
    &__items {
        padding-top: 10px;
        height: 100%;
    }
    &__body {
        max-height: 1px;
        overflow: hidden;
        padding-bottom: 10px;
        transition: all 0.3s ease-in-out;
    }
}
.Accordion.active .Accordion__body {
    max-height: 100px;
    transition: all 0.3s ease-in-out;
}
.Accordion.active .Accordion__header svg {
    transform: rotate(180deg);
}