@import "../../scss/mixins/mini";
.Accordion {
    display: block;
    border-bottom: 1px solid #4F4F4F;
    padding-bottom: 10px;
    width: 300px;

    &__header {
        @include flex-all-sb;
        height: 40px;
        cursor: pointer;

        span {
            font-family: Montserrat;
            font-weight: 400;
            font-style: normal;
            font-size: 16px;
            line-height: normal;
            color: var(--text-light, #ADACAC);
            /* p / regular */
        }

    }

    &__item {
        a {
            font-family: Montserrat;
            font-weight: 400;
            font-style: normal;
            font-size: 14px;
            line-height: 140%;
            color: var(--text-light, #ADACAC);
            /* p small/regular */

            /* 19.6px */
            &:hover {
                color: var(--light-color);
            }
        }
    }

    &__items {
        padding-top: 10px;
        height: 100%;
    }

    &__body {
        overflow: hidden;
        padding-bottom: 10px;
        height: 1px;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }
}

.Accordion.active .Accordion__body {
    height: 100px;
    visibility: visible;
    transition: all 0.3s ease-in-out;
}

.Accordion.active .Accordion__header svg {
    transform: rotate(180deg);
}