.ServiceHeader {
    &__container {
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 10px;
        &_item {
            a {
                color: #ADACAC;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
 &:hover {
    border-bottom: 2px solid var(--red-color);
    padding-bottom: 3px;
    color:var(--light-color);
 }
            }
        }
    }
    &__tel {
        margin-top: 30px;
        color:  #FFF;
        /* H3 */
        font-family: Jura;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }
    &__title {
        color:var(--light-color);
/* H2 */
font-family: Jura;
font-size: 32px;
font-style: normal;
font-weight: 500;
line-height: 120%; /* 38.4px */
text-transform: uppercase;
    }
}