.Map__header {
    padding-top: 30px;
    height: 110px;
    text-align: center;

}

.Map__title {

    font-family: Jura;
    font-weight: 500;
    font-style: normal;
    font-size: 32px;
    line-height: 120%;
    /* 38.4px */
    text-transform: uppercase;
    color: var(--light-color);

}