.NotFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    
    gap: 30px;
    &__title {
        font-size: 60px;
        color:var(--red-color);
    }
    &__subtitle {
        font-size: 40px;
        color:var(--red-color);
    }
    &__back {
        border: 1px solid var(--black-color);
        border-radius: 15px;
        padding: 15px 29px;
        text-align: center;

        color: var(--black-color);
        transition: all 0.3s ease-in-out;
        &:hover  {
            border-radius: 0;
            color: var(--light-color);
            background-color: var(--red-color);
        }
    }
}